{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "semi": [0],
    "react/jsx-filename-extension": [0]
  }
}
